body{
    background: #00364d;
    background: linear-gradient(30deg, rgba(0, 54, 77, 1) 0%, rgba(87, 141, 199, 1) 50%, rgba(43, 25, 115, 1) 100%);
    background-repeat:no-repeat;
}
header{
    position:fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 1000;
    backdrop-filter: blur(20px);
    backdrop-filter: brightness(50%);
}
header > *{
    color: rgb(207, 205, 205);
    margin: 2%;
    display: inline-block;
    text-decoration: none;
    font-size: larger;
}
#icon{
    background-image: url(../img/znailine.jpg);
    background-size: cover;
    padding: 2%;
    margin: 0%;
    margin-left: 2%;
    position: relative;
    top: 10pt;
}
main{
    margin-top: 10%;
}
main > div{
    display: inline-block;
    background: #566791;
    background: linear-gradient(0deg, rgba(40, 87, 173, 1) 0%, rgba(86, 103, 145, 1) 100%);
    border-radius: 20px;
    border: #00364d 2px solid;
}
#yourFB > *{
    display: inline-block;
}
h2, h3{
    display: inline-block;
    margin: 0;
    vertical-align: top;
    margin: 4%;
    margin-left: 0%;
}
main > div{
    width: 60%;
    height: 10%;
    background-color: white ;
    margin: 5%;
    margin-top: 0;
    margin-left: 2%;
}
#yourFB > img{
    width: 10%;
    border-radius: 20%;
    border: #00364d 2px solid;
    margin: 2%;
}
#yourFB > textarea{
    width: 80%;
    margin: 0% 2%;
    min-height: 100%;
}
#yourFB > button{
    margin: 1%;
    margin-left: 0;
    background-color: rgb(206, 78, 78);
    border-radius: 20px;
    padding: 1%;
    vertical-align: top;
}
.FB{
    margin-bottom: 2%;
}
.FB > img{
    width: 10%;
    border-radius: 20%;
    border: #00364d 2px solid;
    margin: 1%;
}
.FB > *{
    display: inline-block;
}
.FB > #text{
    width: 70%;
    vertical-align: top;
}
#text > p{
    margin-top: 0;
    vertical-align: top;
}
#text > h3{
    margin-bottom: 1%; 
}
